.table-animation-enter {
    opacity: 0;
    transform: translateY(1rem);
}

.table-animation-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.row-animation-leave {
    opacity: 1;
    transform: translateY(0);
}

.row-animation-leave-active {
    opacity: 0;
    transform: translateX(1rem);
    transition: opacity 500ms, transform 500ms;
}

.position-number-animation {
    transition: color 500ms;
}

.position-number-animation.active {
    color: red;
}